<div class="xyz">
<div class="heading">
    WELCOME TO MODERN INTERIOR DESIGNS!!
</div>
<div class="clear">
    <div class="left">
        <img src="./assets/images/design.jpg" alt="picture">
    </div>
    <div class="container">
    <nav class="links">
            <ul>
                <li><a href="/services">Blogs</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
    </nav>
</div>
</div>
</div>