<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="new">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-1">Interior Design</h2>
                    <p>Far far away,<br>behind the word mountains,<br>far from the countries<br>Vokalia and Consonantia,<br>there live the blind texts.</p>
                  <!--<ul class="list1">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="new">
                <div class="ftco-footer-widget">
                    <a href="#" class="ftco-heading-3" id="head">Office Opening Hours</a>
                    <ul class="list">
                        <li class="d-flex"><span>Monday</span><span> 9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Tuesday</span><span> 9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Wednesday</span><span> 9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Thursday</span><span> 9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Friday</span><span> 9:00 - 02:00</span></li>
                        <li class="d-flex"><span>Saturday</span><span> 9:00 - 02:00</span></li>
                        <li class="d-flex"><span>Sunday</span><span> 9:00 - 02:00</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="new">
                <div class="ftco-footer-widget">
                    <a href="#" class="ftco-heading-2" id="head">Newsletter</a>
                    <p>Far far away,<br>behind the word mountains,<br>far from the countries.</p>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="col-md-12">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved !</p>
        </div>
    </div>
</div>