<div class="content">
    <!-- <div class="heading">
        <h1>ABOUT US!!</h1>
    </div> -->
</div>

<div class="work">
    <p class="n1">SOME SNAPSHOTS</p>
    <p class="n2">OF OUR WORK!!</p>
    <div class="pictures">
        <img src="./assets/images/thumb-12.jpg" alt="interior design">
        <img src="./assets/images/thumb-09.jpg" alt="interior design">
        <img src="./assets/images/interior7.jpg" alt="interior design">
    </div>
</div>




<div class="more">
    <div class="something">
       <h2> MEET OUR TEAM!! </h2>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
         irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
           mollit anim id est laborum.  
       </p>
    </div>
    
    <div class="row">
        <div class="image">
            <img src="assets/images/team1.png" alt="">
            <p>Interior Designer</p>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <img src="assets/images/team2.png" alt="">
            <p>Interior Designer</p>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <img src="assets/images/team3.png" alt="">
            <p>Interior Designer</p>
        </div>
    </div>

</div>