
<!--Blog Section start-->
<div class="blog-section">
    <div class="container">
       <h2>Recent <span>Blog Post</span></h2>
       <ul class="blog-wrap">

            <li>
                 <a href="javascript:void(0)" class="image-wrp"><img src="./assets/images/interior5.jpg" style="height: 300px; width: 90%;" alt="Red Building" title="">
              <span><img src="/assets/images/girl.png" alt="Girl" title="" class="image-position"></span>
                 <div class="blog-text">
                     <span>October 19, 2020</span>
                     <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing. Aliquam viverra   dolor sit consectetur.</p>
                </div></a>
             </li>
            <li>
                 <a href="javascript:void(0)" class="image-wrp"><img src="./assets/images/interior6.jpg" style="height: 300px; width: 90%;" alt="Tractor" title="">
              <span><img src="/assets/images/boy.png" alt="Girl" title="" class="image-position"></span>
               <div class="blog-text">
                     <span>October 17, 2020</span>
                     <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing.</p>
               </div></a>
            </li>
            <li>
                 <a href="javascript:void(0)" class="image-wrp"><img src="./assets/images/interior4.jpg" style="height: 300px; width: 90%;" alt="Tractor" title="">
              <span><img src="/assets/images/windmill-boy.png" alt="Girl" title="" class="image-position"></span>
               <div class="blog-text">
                     <span>October 18, 2020</span>
                     <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing. Aliquam viverra   dolor sit.</p>
               </div></a>
            </li>
       </ul>
    </div>
</div>
<!--Blog Section end-->
